.todolist {
   position: relative;
   width: 100%;
   margin: 0 auto;
   padding: 24px;

   text-align: center;

   border-radius: 12px;
   border: 3px solid #88add0;

   .buttonDelete {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 0;
      border-radius: 12px;
   }

   .title {
      margin-bottom: 24px;
      font-size: 40px;
      color: #000065;
      cursor: pointer;
   }

   .button {
      position: absolute;
      right: 0;
      top: 0;

      width: var(--input_size);
      height: var(--input_size);

      font-size: 24px;
      color: black;

      background-color: antiquewhite;
      border: none;
      border-radius: 2px;
      cursor: pointer;
   }

   .list {
      display: grid;
      row-gap: 12px;
      margin-bottom: 24px;
   }

   .item {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      padding: 8px 12px;

      border-radius: 8px;
      background-color: #d6f1ff;
      transition: opacity 300ms ease;
   }

   .item_opacity {
      opacity: 0.3;
   }

   .close {
      width: 30px;
      height: 30px;
      padding: 3px;

      background-color: antiquewhite;
      border: none;
      border-radius: 50%;
      cursor: pointer;
   }

   .sublist {
      display: inline-grid;
      grid-auto-flow: column;
      column-gap: 8px;
   }

   .subitem_button {
      padding: 6px 12px;


      font-size: 12px;
      color: black;

      background-color: antiquewhite;
      border: none;
      cursor: pointer;
   }

   .subitem_button_active {
      background-color: #cde3ff;
   }
}





