.inputTodolist {
   --input_size: 40px;
   position: relative;
   display: flex;
   justify-content: space-between;
   margin-bottom: 16px;

   .button {
      background-color: #75a3ce;

      &:hover {
         background-color: #6197ca;
      }
   }
}

.error {
   display: block;
   margin-bottom: 16px;

   font-size: 16px;
   font-weight: 600;
   text-align: left;
   color: red;
}






