.list {
   display: inline-grid;
   grid-auto-flow: column;
   column-gap: 8px;

   .button {
      padding: 6px 12px;


      font-size: 12px;
      color: black;

      background-color: antiquewhite;
      border: none;
      cursor: pointer;
   }

   .button_active {
      background-color: #cde3ff;
   }
}
