.text {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

   display: inline-block;

   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
}
